In [6]:
# sol 1
# A database is a structured collection of data that is organized and stored in a computer system. It provides a way to efficiently manage, manipulate, and retrieve data for various applications. Databases are essential for storing and organizing large volumes of information, making it easier to access and process.

# sql
# SQL databases are based on a structured model that uses tables with predefined schemas to store data. They follow a rigid structure, where data is organized into rows and columns, and relationships are established between tables.

# nosql
# NoSQL databases are non-relational and offer a more flexible approach to data storage. They can handle unstructured, semi-structured, and rapidly changing data, making them suitable for applications with evolving requirements. 
# NoSQL databases can store data in various formats, such as key-value pairs, documents, graphs, or wide-column stores. They are designed to scale horizontally, allowing them to handle massive amounts of data and high traffic loads across multiple servers.

In [7]:

# sol 2
# DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. 
# DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and constraints.


# 1 CREATE: The CREATE statement is used to create a new database object, such as a table or view. It defines the structure, attributes, and constraints of the object.

CREATE TABLE student (name VARCHAR, roll_no INT, year INT, address VARCHAR)

# 2 DROP: The DROP statement is used to remove an existing database object, such as a table or view, along with its associated data. 

DROP TABLE student 

# 3 ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows adding, modifying, or deleting columns, constraints, or other attributes.
# ALTER TABLE Employees
ADD  phone_no int

# 4 TRUNCATE: The TRUNCATE statement is used to delete all the data from a table while keeping the table structure intact. It is faster than using the DELETE statement for removing all records
TRUNCATE TABLE student

SyntaxError: invalid syntax (1372706023.py, line 8)

In [ ]:
# sol 3
# DML (Data Manipulation Language) operations, such as INSERT, UPDATE, and DELETE, are typically performed on a database using SQL queries. In Python, you can interact with a database and execute these DML operations using database libraries and modules. 

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
# 1. INSERT:
        # The INSERT statement is used to add new data into a table. It allows you to specify the columns and the corresponding values to be inserted. 


cursor.execute("INSERT INTO Employees (ID, Name, Department) VALUES (1, 'John Smith', 'HR')")

# UPDATE: 
      # The UPDATE statement is used to modify existing data in a table. It allows you to specify which records to update and the new values for the specified columns. 

cursor.execute("UPDATE Employees SET Department = 'Finance' WHERE ID = 1")

# DELETE:
        # The DELETE statement is used to remove specific records from a table. It allows you to specify the condition that identifies the records to be deleted.

cursor.execute("DELETE FROM Employees WHERE ID = 1")

ModuleNotFoundError: No module named 'mysql'

In [ ]:
# sol 3

# DML (Data Manipulation Language) operations, such as INSERT, UPDATE, and DELETE, are typically performed on a database using SQL queries. In Python, you can interact with a database and execute these DML operations using database libraries and modules. 

# ***IMPORTANT this code is only working on vs code not in notbook ***

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists my_db")
mycursor.execute("CREATE TABLE if not exists my_db.table1 (roll_no INT, first_name VARCHAR(12) , last_name VARCHAR(15), phone_no INT )")

# 1. INSERT:
        # The INSERT statement is used to add new data into a table. It allows you to specify the columns and the corresponding values to be inserted. 


mycursor.execute("INSERT INTO my_db.table1 values (19 , 'rohit' , 'kumar' ,74653874 )")
mycursor.execute("INSERT INTO my_db.table1 values (24 , 'deepak' , 'sehrawat' ,74687489 )")
mycursor.execute("INSERT INTO my_db.table1 values (67 , 'chander' , 'sehrawat' ,57866737 )")

# UPDATE: 
      # The UPDATE statement is used to modify existing data in a table. It allows you to specify which records to update and the new values for the specified columns. 

mycursor.execute("UPDATE my_db.table1 SET first_name = 'rohit' WHERE first_name='deepak'")

# DELETE:
        # The DELETE statement is used to remove specific records from a table. It allows you to specify the condition that identifies the records to be deleted.

mycursor.execute("DELETE FROM my_db.table1 WHERE first_name='chander'")


mydb.commit()
mydb.close()

In [ ]:
# sol 4
# DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for retrieving data from a database. DQL statements are primarily focused on querying and retrieving specific information from the database tables.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists my_db")
mycursor.execute("CREATE TABLE if not exists my_db.table1 (roll_no INT, first_name VARCHAR(12) , last_name VARCHAR(15), phone_no INT )")
mycursor.execute("INSERT INTO my_db.table1 values (19 , 'rohit' , 'kumar' ,74653874 )")
mycursor.execute("INSERT INTO my_db.table1 values (24 , 'deepak' , 'sehrawat' ,74687489 )")
mycursor.execute("INSERT INTO my_db.table1 values (67 , 'chander' , 'sehrawat' ,57866737 )")


# SELECT: 
#        The most commonly used DQL statement is SELECT, which allows you to retrieve data from one or more tables based on specified conditions.
 
mycursor.execute("select * from my_db.table1 WHERE last_name ='sehrawat'")

y=0
for i in mycursor.fetchall():
  y+=1
  print (y,i)

mydb.commit()
mydb.close()

In [11]:
# sol 5
# A Primary Key :
            # is a column or a set of columns in a database table that uniquely identifies each record within the table. Its primary purpose is to ensure data integrity and enable efficient data retrieval.

# characteristics of a Primary Key:

# 1 Uniqueness: Each Primary Key value must be unique
# 2 Non-nullability: A Primary Key column cannot contain NULL values
# 3 Indexing: Primary Keys are often indexed, which allows for faster data retrieval and improves query performance.

# A Foreign Key 
            # establishes a relationship between two tables in a database. It is a column or a set of columns in one table that refers to the Primary Key of another table.

# characteristics of a Foreign key
# 1. Referential integrity: Foreign Keys enforce referential integrity by ensuring that the values in the referencing table match valid values in the referenced table's Primary Key.
# 2. Relationship establishment: Foreign Keys create relationships between tables, defining how data in one table relates to data in another.
#3. Cascading actions: Foreign Keys can define actions to be performed when a referenced record is updated or deleted, such as cascading updates or deletes.

In [ ]:
# sol 6

import mysql.connector 
db=mysql.connector.connect(
    host='localhost',
    user='abc',
    password='password'
) 

# this above code is for connecting the python to the sql database

mycursor=db.cursor()

# The cursor() method creates a cursor object, which is used to execute SQL statements and manage the context of a database session. 
# The cursor serves as a handle for the interaction between Python and the MySQL database.


# he execute() method allows you to send SQL statements to the database engine for execution. The SQL statement can be any valid SQL command supported by the database. Common types of SQL statements include SELECT, INSERT, UPDATE, DELETE, CREATE TABLE, and so on.

mycursor.execute("CREATE DATABASE if not exists my_db")
mycursor.execute("CREATE TABLE if not exists my_db.table1 (roll_no INT, first_name VARCHAR(12) , last_name VARCHAR(15), phone_no INT )")





db.commit()
db.close()

In [ ]:
# sol 7
# clauses are  executed in the following order in sql:

# 1.FROM clause:
        # The FROM clause specifies the tables or views from which the data will be retrieved. 

# 2. WHERE clause:
        # The WHERE clause is used to filter the rows based on a specified condition. It is executed after the FROM clause and before the SELECT clause (if present). 

# 3. GROUP BY clause:
        # The GROUP BY clause is used to group the result set by one or more columns. It is executed after the WHERE clause and before the SELECT clause (if present). 

# 4. HAVING clause:
        # The HAVING clause is used to filter the groups created by the GROUP BY clause. It is similar to the WHERE clause, but it operates on the grouped data rather than individual rows.

# 5. SELECT clause:
        # The SELECT clause is used to specify the columns or expressions that will be included in the result set. 

# 6. ORDER BY clause:
        # The ORDER BY clause is used to sort the result set based on one or more columns. 

# 7. LIMIT 
        # The LIMIT (for databases like MySQL, PostgreSQL) or TOP (for databases like SQL Server) clause is used to restrict the number of rows returned by the query.